BODY
{
    padding-right: 0px;
    padding-left: 0px;
    font-size: 20px;
    padding-bottom: 0px;
    margin: 0px;
    color: #000000;
    padding-top: 0px;
    font-family: Trebuchet MS;
    text-align: justify;
}

A:link
{
    font-size: 11px;
    background: none transparent scroll repeat 0% 0%;
    color: #000000;
    font-family: Trebuchet MS;
    text-decoration: none;
}

A:active
{
    font-size: 11px;
    background: none transparent scroll repeat 0% 0%;
    color: #000000;
    font-family: Trebuchet MS;
    text-decoration: none;
}

A:visited
{
    font-size: 11px;
    background: none transparent scroll repeat 0% 0%;
    color: #000000;
    font-family: Trebuchet MS;
    text-decoration: none;
}

A:hover
{
    font-size: 11px;
    font-family: Trebuchet MS;
    text-decoration: none;
}
#cajatext
{
    width: 450px;
    height: 150px;
    margin-left: 50px;
    font-size: 11px;
    color: #000000;
    font-family: Trebuchet MS;
    line-height: 16px;
    border-bottom: 1px dotted #333;
}
.subtitulo
{
    font-weight: bold;
    list-style-type: none;
    color: #333;
    background-color: #FFF;
    background: url(../imagenes/arrow.png) no-repeat;
    background-position: 0 .3em;
    padding-left: 15px;
}

TD
{
    font-size: 11px;
    color: #000000;
    font-family: Trebuchet MS;
    line-height: 16px;
}

INPUT
{
    font-size: 11px;
    color: #000000;
    font-family: Trebuchet MS;
}

INPUT.button
{
    font-weight: bold;
    font-size: 12px;
    cursor: hand;
    color: #FFFFFF;
    font-family: Trebuchet MS;
    background-color: #456071;
    border: 1px solid #000000;
}

Select
{
    font-size: 11px;
    color: #000000;
    font-family: Trebuchet MS;
    background-color: #EFEBEF;
}

.estilotabla
{
    border-style: solid;
    border-color: 666666;
    border-width: 1px;
}

.estilotabla2
{
    border-style: solid;
    border-color: 666666;
    border-width: 1px;
    background-color: #FFFFFF;
}

ul
{
    padding-left: 10px;
    margin-left: 10px;
    list-style-type: disc;
}

ul li
{
    padding-left: 0px;
    margin-bottom: 1em;
}

.jutifica
{
    text-align: justify;
}

.textFondo:hover
{
    font-size: 11px;
    background-color: #192158;
    color: #FFFFFF;
    font-family: Trebuchet MS;
    text-decoration: none;
}
.floatleft
{
    float: left;
    padding: 2px;
    margin: 4px;
}