div.rounded {
    clear:both;
    max-width:2400px;
}

div.rounded div.top-outer
{
    background: url('../Imagenes/tl.gif') no-repeat left bottom;
    padding: 0px;
    width: 88%;
}

div.rounded div.top-outer div.top-inner {
    background:url(../Imagenes/tr.gif) no-repeat right bottom;
    margin-left:9px;
}

div.rounded div.top-outer div.top-inner div.top {
    background:url(../Imagenes/tm.gif) repeat;
    height:23px;
    margin-right:9px;
    font-size:.01em;
    width: 717px;
}

div.rounded div.mid-outer {
    background:url(../Imagenes/l.gif) left repeat-y;
    clear:both;
    width:100%;
	height: 189px;
}

div.rounded div.mid-outer div.mid-inner {
    background:url(../Imagenes/r.gif) right repeat-y;
    margin-left:9px;    
}

div.rounded div.mid-outer div.mid-inner div.mid {
	background-color:#ffffff;
    margin-right:9px;
	height: 211px;
	width: 660px;
}

div.rounded div.bottom-outer {
    background:url(../Imagenes/bl.gif) no-repeat left top;
    clear:both;
    padding:0px;
    width:88%;
	height: 8px;
}

div.rounded div.bottom-outer div.bottom-inner {
    background:url(../Imagenes/br.gif) no-repeat right top;
    margin-left:8px;
    height: 10px;
    width: 726px;
}

div.rounded div.bottom-outer div.bottom-inner div.bottom {
    background:url(../Imagenes/bm.gif) repeat;
    height:9px;
    margin-right:8px;
    font-size:.01em;
	width: 723px;
}
