/* scroller background - TABLE */
.TScrBack0
{
    background-color: white;
}
/* style to be applyed to all items' bodies
  - SPAN in Netscape 4.x, TD in rest
  all local stylesheets of external files if any are to be ignored */
.TScrItemBody0
{
    font-family: Verdana;
    font-size: 11px;
    padding: 5px;
}