<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="MailerServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://mailer.tecnolideres.com/Mailer.asmx"
                binding="basicHttpBinding" bindingConfiguration="MailerServiceSoap"
                contract="Mailer.MailerServiceSoap" name="MailerServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>